/.storage
/.cloud
/secrets.yaml
/ui-lovelace.yaml
/known_devices.yaml
/home-assistant.log
/home-assistant_v2.db
/www/
/backup/
/people
/person.yaml
/input_boolean.yaml
/deps/
/tts/
/packages/outdoor_light_example2.yaml
/packages/outdoor_light_example.yaml
